.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.item-dos{
  width: 90%;
}
.item-dos p{
  font-size: 20px;
  text-wrap: balance;
}
.item-tres{
  text-align: center;
  margin-top: 15px;
  text-wrap: balance;
  max-width: 100%;
  width: 90%;
  margin-left: auto;
}

.item-tres p{
  text-align: start;
  text-wrap: pretty;
  font-size: 20px;
}


.tres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.image {
  width: 900px; /* Ancho del contenedor, ajusta según tus necesidades */
  height: 500px; /* Altura del contenedor, ajusta según tus necesidades */
}

.image img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original de la imagen */
}
