    .Simon{
      display: flex;
      justify-content: center;
      margin: 0;
    }
  
  .login-box {
    margin: 40px;
    width: 600px;
    padding: 40px;
    background-color: #8098a556;
    backdrop-filter: blur(200px);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .boxAdmin {
    text-align: center;
  }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box .input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 45px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    background: #fff ;
    border-radius: 10px;
    text-indent: 15px;
  }
  .login-box option{
    border: none;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box .input:focus ~ label,
  .login-box .user-box .input:valid ~ label {
    top: -45px;
    left: 0;
    color: #000000;
    font-size: 20px;
  }
  
  .login-box form .a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    border: 2px solid #000;
  }
  
  .login-box .a:hover {
    background: #00314A;
    color: #fff;
    border-radius: 5px;

  }
  
  .login-box .a span {
    position: absolute;
    display: block;
    color: #fff;
  }

  .login-box .a span:hover {
    position: absolute;
    display: block;
    color: #fff;
  }
  
  

.link{
    text-decoration: none;
    color: #000;
}
.link:hover{
    color: #fff;
}