.footer {
    background-color: #00314A;
    color: white;
    gap: 3rem;
    text-align: start;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    width: 20%;
    margin-bottom: 20px;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
    line-height: 1.6;
    text-wrap: balance;
    color: white;
    
}

.footer-logo img {
    width: 35vh;
}



@media (max-width: 1280px) {

    /* styles.css */
    .footer {
      background-color: #00314A;
      color: white;
      padding: 20px 0;
      text-align: center; /* Center the text within the footer */
    }
    
    .footer-content {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,2fr));
        gap:2rem; 
        align-items: flex-start;
    }
    
    .footer-section {
        width: 20%;
        margin-bottom: 5px;
    }
    
    .footer-logo img {
      max-width: 100%;
      width: 30vh;
      height: auto;
    }
    /* Add a media query to adjust the layout on smaller screens */
    @media screen and (max-width: 1280px) {
        .footer-section {
            width: 100%; /* Set width to 100% for smaller screens */
            margin-bottom: 5px;
        }
    }
    }

/*  780 */
@media (max-width: 780px) {

/* styles.css */
.footer {
  background-color: #00314A;
  color: white;
  padding: 20px 0;
  text-align: center; /* Center the text within the footer */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    width: 20%;
    margin-bottom: 20px;
}

.footer-logo img {
  max-width: 100%;
  width: 30vh;
  height: auto;
}
/* Add a media query to adjust the layout on smaller screens */
@media screen and (max-width: 768px) {
    .footer-section {
        width: 100%; /* Set width to 100% for smaller screens */
        margin-bottom: 10px;
    }
}
}