
.quienCon{
    display: flex;
    justify-content: center;
    text-align: center;
}

.quien-element{
    max-width: 100%;
    width: 100%;
    margin: 2rem;
    font-size: 20px;
}
.quien-element p{
    font-size: 20px;
    text-align: start;
}
.quien-element img{
    width: 100%;
}